@model Vidly.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="container p-3">
    <div class="col-6">
        <h2 class="text-primary">@Model.Name</h2>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Date Added</th>
            <th>Number In Stock</th>
        </tr>
        <tr></tr>
    </thead>
    <tbody>

        <tr>

            <td>
                @Model.Genre.Name
            </td>

            <td>
                @Model.ReleaseDate
            </td>

            <td>
                @Model.DateAdded
            </td>

            <td>
                @Model.NumberInStock
            </td>

            <td>
                <a asp-route-id="@Model.Id" asp-controller="Movies" asp-action="Edit" class="btn btn-primary">Edit</a>
            </td>

        </tr>

    </tbody>
</table>