@model IEnumerable<Vidly.DTOs.CustomerDto>

@*
    @model IEnumerable<Vidly.Models.Customer> 
    
    Note: I've set the model for this view to IEnumerable<Customer>.
    This is a simple interface implemented by the list class. Since
    in this view we only want to iterate over this list, and we don't
    need any of the operations in the List class (eg Add, Remove, etc),
    it's better to use the IEnumerable interface, which allows use to
    iterate over the list. If in the future, we replace the List with a
    different data structure, as long as it is enumerable, our view code
    will remain unchanged.
*@

@{
    ViewData["Title"] = "Customers";
}`

<!DOCTYPE html>
<html>
<body>

    <div class="container p-3">
        <div class="col-6">
            <h2 class="text-primary">Customers</h2>           
        </div>
    </div>

    @if (!Model.Any())
    {
        <p>We don't have any customers yet.</p>
        
            <a asp-controller="Customers" asp-action="CustomerForm" class="btn btn-primary mb-3">New Customer</a>
        
    }
    else
    {
        <div style="overflow-y: scroll">
            <table id="customers" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <a asp-controller="Customers" asp-action="CustomerForm" class="btn btn-primary mb-3">New Customer</a>
                    </tr>
                    <tr>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Delete</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            @*
                                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                            *@
                            <td>
                                @customer.Id
                            </td>

                            <td>
                                <a asp-route-id="@customer.Id" asp-controller="Customers" asp-action="Details">@customer.Name</a>                           
                            </td>
                            
                            <td>
                                <button data-customer-id="@customer.Id" class="btn btn-primary js-delete">Delete</button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @section scripts{
        <script>
            $(document).ready(function () {
                // select customers table and find all the elements with this class "js-delete"
                $("#customers").on("click", ".js-delete", function () {
                    var button = $(this);
                    // if our confirmation return true then we want to call our API using jQuery Ajax
                    if(confirm("Are you sure you want to delete this customer ? ")){
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function(){
                                button.parents("tr").remove();
                                console.log("Success");
                            }
                        });
                    }

                });
            });
        </script>
    }

</body>
</html>